@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
/* font-family: 'Noto Sans', sans-serif; */
*
{
    margin: 0%;
    padding: 0px;
}

nav
{
    background-color:ivory;
    font-family: 'Noto Sans', sans-serif;
}
.nav_bar
{
    display: inline-block;
    text-align: end;
}
